

/*td, th {
    border: 1px solid #999;
    padding: 0.5rem;
  }
  td:nth-child(1) { background: hsl(150, 50%, 50%); }
 /* td:nth-child(2) { background: hsl(160, 60%, 50%); }
td:nth-child(3) { background: hsl(170, 70%, 50%); }
td:nth-child(4) { background: hsl(180, 80%, 50%); }
td:nth-child(5) { background: hsl(190, 90%, 50%); }
td:nth-child(6) { background: hsl(200, 99%, 50%); }
#Store-list-table*/


body {
    padding: 1rem;
    font: normal medium/2 sans-serif;
    
}

h1 {

    font-size: x-large;
    padding: 2rem;
}

td, th {
    width: 4rem;
    height: 2rem;
    border: 4px solid #999;
    text-align: center;
    padding: 0.5rem;
    border-color: white;
    background-color: aqua;
  }
  th {
    background: hsl(150, 50%, 50%);
       
  }
  

  td:nth-child(1) { background: hsl(150, 50%, 50%); }

html{
  background-color: rgb(204, 199, 204);
}

#title{
  font-style: italic;
  font-size: 75px;
  background-color: brown;
  text-align: center;
}

#Salespage{
  font-size: 35px;
  font-weight: bold;
  float: right;

}


#seattle #dubai #tokyo{
  text-decoration: rgb(161, 122, 14);
}

h3{
  background-color: blue;
  text-align: center;
  color: white;
  font-size: 25px;
}

#legal{
  text-align: center;
  color: red;
  background-color: black;
  cursor: pointer;
}